<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h1 class="titulo" style="font-size: 30px;">MedSpeak</h1>
    </div>

    <div class="form-container">
      
  <form class="custom-form" (ngSubmit)="enviarSolicitud()">
    <div class="image-container">
      <img src="../../../assets/images/logo.png" alt="Imagen de inicio de sesión">
    </div>
    <br>
  <h2 class="titulo" style="font-size: 22px;">Recuperar contraseña</h2>

    <label for="username" class="custom-label">CORREO ELECTRÓNICO</label>
    <div class="form-group">
      <input type="text" id="correo" name="correo" class="custom-input" required placeholder="Escribe tu correo" [(ngModel)]="correo" required #correoInput="ngModel">
    <div class="alert-message" [hidden]="correoInput.valid || correoInput.pristine">El correo es obligatorio</div>
  </div>
  <a href="#" class="forgot-password" routerLink="/login">Iniciar sesión</a>
  <br>
  <button type="submit" class="custom-button"  [disabled]="!correoInput.valid">Enviar</button>
  <div *ngIf="resultadoMensaje" class="resultado-mensaje">
    {{ resultadoMensaje }}
  </div>
</form>
      </div>
</body>
</html>


