<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <app-nav></app-nav>

    <div class="banner">
        <h1>¡Bienvenido a la plataforma de consultas médicas MedSpeak!</h1>
        </div>
    <main class="main-content">
        <div class="image-container">
        <img src="../../../assets/images/imgInicio.jpg">
        </div>
    </main>

</body>
<app-footer></app-footer>
</html>