<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h1 class="titulo" style="font-size: 30px;">MedSpeak</h1>
    </div>

    <div class="form-container">
      
  <form class="custom-form"  #formPass="ngForm" (ngSubmit)="restablecerContrasenia()">
    <div class="image-container">
      <img src="../../../assets/images/logo.png" alt="Imagen de inicio de sesión">
    </div>
    <br>
  <h2 class="titulo" style="font-size: 22px;">Recuperar contraseña</h2>

  <label for="contrasenia" class="custom-label">NUEVA CONTRASEÑA*</label>
    <div class="form-group">
    <input type="password" id="contrasenia" name="contrasenia" class="custom-input" required placeholder="Escribe tu contraseña" [(ngModel)]="contrasenia" required #contraseniainput="ngModel">
    <div class="alert-message" [hidden]="contraseniainput.valid || contraseniainput.pristine">La contrasenia es obligatoria</div>
  </div>

  <label for="contrasenia" class="custom-label">REPITE CONTRASEÑA*</label>
    <div class="form-group">
    <input type="password" id="contrasenia2" name="contrasenia2" class="custom-input" required placeholder="Escribe tu contraseña" [(ngModel)]="contrasenia2" required #contrasenia2input="ngModel">
    <div class="alert-message" [hidden]="contrasenia2input.valid || contrasenia2input.pristine">La contrasenia es obligatoria</div>
    <div class="alert-message" [hidden]="contraseniasCoinciden()">Las contraseñas no coinciden</div>
  </div>
  <br>
  <button type="submit" class="custom-button" [disabled]="formPass.invalid">Restablecer</button>
</form>
      </div>
</body>
</html>



