
<h2 class="titulo">{{ esEdicion ? 'Editar Usuario' : 'Crear Usuario' }}</h2>
<mat-dialog-content fxLayout="row" fxLayoutGap="20px">
  <form fxLayout="column" fxFlex="50" #formUsuario1="ngForm">
    <label for="identificacion" class="custom-label">Identificacion*</label>
    <div class="form-group">
    <input type="number" id="identificacion" name="identificacion" class="custom-input"  placeholder="Digite el ID del usuario" [(ngModel)]="usuario.identificacion" required #identificacion="ngModel">
  <div class="alert-message" [hidden]="identificacion.valid || identificacion.pristine">La identificacion es obligatoria</div>
  </div>
  <label for="nombre" class="custom-label">Nombre*</label>
  <div class="form-group">
  <input type="text" id="nombre" name="nombre" class="custom-input"  placeholder="Digite el nombre del usuario" [(ngModel)]="usuario.nombre" required #nombre="ngModel">
  <div class="alert-message" [hidden]="nombre.valid || nombre.pristine">El nombre es obligatorio</div>
</div>

<label for="apellido" class="custom-label">Apellido*</label>
<div class="form-group">
<input type="text" id="apellido" name="apellido" class="custom-input"  placeholder="Digite el apellido del usuario" [(ngModel)]="usuario.apellido" required #apellido="ngModel">
<div class="alert-message" [hidden]="apellido.valid || apellido.pristine">El apellido es obligatorio</div>
</div>

<label for="telefono" class="custom-label">Telefono</label>
<div class="form-group">
<input type="number" id="telefono" name="telefono" class="custom-input"  placeholder="Digite numero de telefono del usuario" [(ngModel)]="usuario.telefono" >
</div>
  </form>

  <form fxLayout="column" fxFlex="50" #formUsuario2="ngForm">
    <label for="direccion" class="custom-label">Direccion*</label>
    <div class="form-group">
    <input type="text" id="direccion" name="direccion" class="custom-input"  placeholder="Digite la direccion del usuario" [(ngModel)]="usuario.direccion" >
    </div>

    <label for="email" class="custom-label">Correo electrónico*</label>
    <div class="form-group">
    <input type="text"  autocomplete="off" id="email" name="email" class="custom-input"   placeholder="Digite el correo del usuario" [(ngModel)]="usuario.correo" required #correo="ngModel">
    <div class="alert-message" [hidden]="correo.valid || correo.pristine">El correo es obligatorio</div>  
  </div>

    <label for="clave" class="custom-label">Contraseña*</label>
    <div class="form-group">
    <input type="password"  autocomplete="off"  id="clave" name="clave" class="custom-input"  placeholder="Digite la contraseña del usuario" [(ngModel)]="usuario.contrasenia" required #contrasenia="ngModel">
    <div class="alert-message" [hidden]="contrasenia.valid || contrasenia.pristine">La contraseña es obligatoria</div>  
  </div>

    <label for="rol" class="custom-label">Rol*</label>
    <div class="form-group">
    <select name="rol" id="rol" class="custom-select"  [(ngModel)]="usuario.rol_id" required #rol="ngModel">
      <option selected>Selecciona una opción</option>
      <option *ngFor="let rol of roles" [value]="rol.id_rol">{{ rol.nombre_rol }}</option>
    </select>
    <div class="alert-message" [hidden]="rol.valid || rol.pristine">El rol es obligatorio</div>
    </div>
  </form>
</mat-dialog-content>
<div class="botones-container">
<mat-dialog-actions>
  <button class="btn-primary" [disabled]="formUsuario1.invalid || formUsuario2.invalid"  (click)="guardarUsuario()">{{ esEdicion ? 'Actualizar' : 'Guardar' }}</button>
  <button class="btn-secundary"  (click)="onCancelClick()">Cancelar</button>
</mat-dialog-actions>
</div>


