<nav>
    <div class="logo">
        <img src="../../../assets/images/Logo3.png" alt="Logo">
        <h2 class="titulo2">MedSpeak</h2>
      </div>

      <div class="hamburger-menu" (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>

    <ul [ngClass]="{'show': isMenuOpen}">
      <li><a routerLink="/inicio"><fa-icon [icon]="inicio" style="color: #ffffff;"></fa-icon> Inicio</a></li>
      <li><a routerLink="/usuarios"><fa-icon [icon]="usuarios" style="color: #ffffff;"></fa-icon> Usarios</a></li>
      <li><a routerLink="/pacientes"><fa-icon [icon]="pacientes" style="color: #ffffff;"></fa-icon> Pacientes</a></li>
      <li><a routerLink="#"><fa-icon [icon]="consultas" style="color: #ffffff;"></fa-icon> Consultas</a></li>
      <li><a routerLink="#"><fa-icon [icon]="roles" style="color: #ffffff;"></fa-icon> Roles</a></li>
      <li><a routerLink="#"><fa-icon [icon]="reportes" style="color: #ffffff;"></fa-icon> Reportes</a></li>
      <li class="logout"><a (click)="logout()"><fa-icon [icon]="salir" style="color: #ffffff;"></fa-icon> Cerrar sesión</a></li>
    </ul>
   
  </nav>