<nav>
    <div class="logo">
        <img src="../../../assets/images/logo2.png" alt="Logo">
      </div>
    <ul>
      <li><a routerLink="/inicio">Inicio</a></li>
      <li><a routerLink="/usuarios">Usarios</a></li>
      <li><a routerLink="/configuracion">Consultas</a></li>
      <li><a routerLink="/configuracion">Roles</a></li>
      <li><a routerLink="/configuracion">Reportes</a></li>
    </ul>
    <div class="logout">
        <li><a (click)="logout()">Cerrar sesión</a></li>
      </div>
  </nav>