/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
    width: 100%;
  }
  main {
    margin-top: 30px;
    max-height: calc(100vh - 200px); 
    overflow-y: auto; 
    overflow-x: auto;
  }

  .table-container {
    width: calc(100% - 40px);
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid #ccc; 
  overflow-x: auto; 
  
  }

  .header-cell {
    background-color: #E6E6E6 !important;
    border: 1px solid #ccc;
    text-align: center;
   
  }

.custom-heading {
    margin-left: 20px !important; 
    font-weight: 500 !important;
    margin-right: 10px !important;
    
  }

  .title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  

  
  
  .action-icon {
    font-size: 30px;
    margin-right: 10px;
    color: #00C7E2;
    cursor: pointer;
  }

  .action-icon-search {
    font-size: 20px;
    margin-right: 10px;
    color: #C9C9C9;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    margin-right: 20px;
  }
  
  .search-field {
    border: none;
    outline: none;
    margin-left: 5px;
    width: 260px;
  }

  .heading-container {
    display: flex;
    justify-content: center;
  }
  
  .titulo {
    font-weight: bold;
    color: #00C7E2;
    text-align: center;
    margin-top: 20px !important;
  
}



.custom-input {
  width: 95%;
  padding: 8px;
  border: 1px solid #9A9A9A;
  border-radius: 4px;
  display: flex;
  
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.custom-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #9A9A9A;
  border-radius: 4px;
  display: flex;
  
}

.btn-primary{
  background-color: #00C7E2;
  color: #FFFFFF;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold; 
}

.btn-secundary{
  background-color: #BEBEBE;
  color: #FFFFFF;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold; 
}


.btn-primary:hover {
  background-color: #FFFFFF;
  color: #00C7E2;
  border: 1px solid #363636;
}

.btn-secundary:hover {
  background-color: #7A7676;
  color: #FFFFFF;
  border: 1px solid #363636;
}
.btn-primary[disabled] {
  background-color: #00C7E2;
  color: #FFFFFF;
  border: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.alert-message {
  color: red;
  background-color: #ffeeee;
  font-size: 14px;
  width: 230px;
  border: 1px solid red;
  margin-top: 1pt;
}

.acciones-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//Responsive


@media screen and (max-width: 768px) {
  main {
    max-width: 100%; /* Ancho máximo para pantallas pequeñas */
    padding: 10px; /* Ajustar el espaciado para pantallas pequeñas */
  }

  table {
    font-size: 12px; /* Ajustar el tamaño de fuente para pantallas pequeñas */
  }
  .header-cell {
    padding: 5px; /* Ajustar el espaciado para pantallas pequeñas */
  }

  .search-container {
    margin-right: 10px; /* Ajustar el espaciado para pantallas pequeñas */
  }

  .titulo {
    font-size: 20px; /* Ajustar el tamaño de fuente para pantallas pequeñas */
    margin-top: 10px; /* Ajustar el espaciado para pantallas pequeñas */
  }

  .search-field {
    width: 160px; /* Ajustar el ancho máximo del campo de búsqueda para pantallas pequeñas */
  }
}